<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563376260248-a6ra6d1i6b6stiku3df94e3n3r8thpk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563376260248-a6ra6d1i6b6stiku3df94e3n3r8thpk3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563376260248-cvlhjik716pla7jemn19v4evsqi3vfmg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCq9BbqrSD3VVPunHaT0FQ2eadokm1d4J8</string>
	<key>GCM_SENDER_ID</key>
	<string>563376260248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.espaceperso</string>
	<key>PROJECT_ID</key>
	<string>espaceperso-483p30</string>
	<key>STORAGE_BUCKET</key>
	<string>espaceperso-483p30.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563376260248:ios:100fe190aa117cbdfd7ced</string>
</dict>
</plist>